{{/* Card compacto de post/projeto usado na home. Recebe um Page como contexto. */}}
<article class="post on-list">
  <h2 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
  </h2>

  <div class="post-meta">
    {{- if .Date -}}
      <time class="post-date">{{- partial "post-date" . -}}</time>
    {{- end -}}
  </div>

  {{ if .Params.tags }}
    <span class="post-tags">
      {{ range .Params.tags }}
      #<a href="{{ (urlize (printf "tags/%s/" .)) | absLangURL }}">{{- . -}}</a>&nbsp;
      {{ end }}
    </span>
  {{ end }}

  <div class="post-content">
    {{ if .Description }}
      <p>{{ .Description | markdownify }}</p>
    {{ else }}
      {{ .Summary }}
    {{ end }}
  </div>

  <div>
    <a class="read-more button inline" href="{{ .RelPermalink }}">[{{ $.Site.Params.ReadMore }}]</a>
  </div>
</article>
